/* purgecss start ignore */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nunito;
  src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

.font-nunito {
  font-family: nunito;
}

html {
  font-family: nunito;
}

body {
  /* background-color: #f2f1f8; */
}

label {
  @apply text-sm;
  opacity: 0.5;
}

*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
